@import '../../../assets/styles/theme';

.our-partners-container {
  background-color: $primary !important;

  padding: $space 0;
}

.our-partners-logo-box {
  margin: $space;

  text-align: center;
}
