@import '../../../assets/styles/theme';

.our-partners-container {
  padding: ($space * 2) $space;

  overflow-x: hidden;

  background-color: $primary !important;
}

.our-partners-logo-box {
  padding: 0;

  max-width: 200px;

  text-align: center;

  > * {
    max-width: 100%;
  }

  * {
    background-position: center center;
    object-fit: contain;
  }
}
