@import '../../../../assets/styles/theme';

.footer {
  background-image: linear-gradient(
    to bottom,
    transparentize($primary, 0.98) 0%,
    transparent 90%
  );
  box-shadow: $inset-shade-S;
}

.footer-left,
.footer-right {
  width: 60px;

  a {
    color: inherit;
  }
}

.footer-left {
}

.footer-center {
}

.footer-right {
  text-align: right;
}
