@import '../../../assets/styles/theme';

.the-company-team-slider-container {
  // todo: rename this (...modal...) after gerami v0.1.7
  .gerami-accordion-container,
  .gerami-modal-caption-container {
    height: 100px !important;

    overflow: hidden;
  }

  // todo: rename this (...modal...) after gerami v0.1.7
  .gerami-modal-caption-container {
    background-color: rgba(0, 0, 0, 0.84);

    transition: all 0.2s ease-in-out;
  }
}

.the-company-team-link {
  padding: $space / 2;

  font-size: $font-L;
}

.the-company-solution-types {
  padding-bottom: 0;
}

.the-company-solution-types-wrapper {
}

.the-company-solution-type {
  border-top: 2px solid transparentize($accent, 0.05);

  text-align: center;

  background-color: transparentize(lighten($fg, 28%), 0.42);
}

.the-company-solution-type-icon-container {
}

.the-company-solution-type-icon {
  color: white !important;
}
