// CORE:

.opera-mini *[data-aos] {
  opacity: 1;
  transition: none;
  transform: none;
  filter: none;
  visibility: visible;
}

.react-parallax-background-children {
  &,
  .react-parallax-background,
  .react-parallax-background img {
    width: 100%;
  }
}

// APP:

body {
  background-image: linear-gradient(
    to top right,
    transparentize($primary, 0.95),
    transparentize(white, 0.05)
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-family-display;
}

// todo: fix this in gerami v0.1.7 and remove this temp patch
.gerami-accordion-container {
  .gerami-modal-img {
    background-size: cover;

    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
  }
}
